<form action="{{ path('moorl-customer-accounts.account.customer-accounts.page') }}"
      method="post">
    {{ sw_csrf('moorl-customer-accounts.account.customer-accounts.page') }}

    <input type="hidden" name="customerId" value="{{ customer.id }}">

    <div class="form-group">
        <label class="" for="">{{ "account.personalMailLabel"|trans|sw_sanitize }}</label>
        <input type="email" class="form-control" value="{{ customer.email }}">
    </div>

    <div class="form-group">
        <label class="" for="">{{ "account.personalPasswordLabel"|trans|sw_sanitize }}</label>
        <div class="input-group">
            <input type="password" class="form-control" value="">
            <div class="input-group-append">
                <button type="button"
                        title="{{ "moorl-customer-accounts.sendNewPasswordDescription"|trans|sw_sanitize }}"
                        class="btn btn-primary">
                    {{ "moorl-customer-accounts.sendNewPassword"|trans|sw_sanitize }}
                </button>
            </div>
        </div>
    </div>

    <div class="text-right">
        <button class="btn btn-primary">
            {{ "moorl-customer-accounts.save"|trans|sw_sanitize }}
        </button>
    </div>
</form>