<p>Hello {{ customer.firstName }} {{ customer.lastname }},</p>

<p>to get access to {{ parent.firstName }} {{ parent.lastName }}'s account we have created your login.</p>

<p>Your e-mail: {{ customer.email }}<br>
Your password: {{ customer.password }}</p>