<p>Hallo {{ customer.firstName }} {{ customer.lastname }},</p>

<p>
    für den Zugang von {{ parent.firstName }} {{ parent.lastName }}s Account ({{ parent.customerNumber }})
    haben wir für Sie ein Login erstellt..
</p>

<p>
    Ihre Kundennummer: {{ customer.customerNumber }}<br>
    Ihre E-Mail Adresse: {{ customer.email }}<br>
    Ihr initiales Passwort: {{ customer.password }}
</p>
