{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_link_profile %}
    {# Don't allow to edit the parent account #}
    {% if context.customer.extensions.CustomerAccount.children %}
        {{ parent() }}

        {% block page_account_sidebar_menu_customer_accounts %}
            <a href="{{ seoUrl('moorl-customer-accounts.account.customer-accounts.page') }}"
               title="{{ "moorl-customer-accounts.customerAccounts"|trans|striptags }}"
               class="list-group-item list-group-item-action account-aside-item{% if controllerName is same as('Storefront') and controllerAction is same as('profileCustomerAccounts') %} is-active{% endif %}">
                {{ "moorl-customer-accounts.customerAccounts"|trans }}
            </a>
        {% endblock %}

        {% if config('MoorlCustomerAccounts.config.enableNotificationSettings') %}
            {% block page_account_sidebar_menu_notification_settings %}
                <a href="{{ seoUrl('moorl-customer-accounts.account.notification-settings.page') }}"
                   title="{{ "moorl-customer-accounts.notificationSettings"|trans|striptags }}"
                   class="list-group-item list-group-item-action account-aside-item{% if controllerName is same as('Storefront') and controllerAction is same as('profileNotificationSettings') %} is-active{% endif %}">
                    {{ "moorl-customer-accounts.notificationSettings"|trans }}
                </a>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}